$color-primary: skyblue;
$color-secondary: turquoise;
$color-tertiary: crimson;
$color-quarterly: #df6900;
$color-grey-light: #efefef;
$color-grey-dark: #333;
$color-hover: #edf5f8;
$color-link-hover: #ccc;
$color-paragraph: #4a4a4a;
$color-green: #34eb49;
$color-white: #fff;
$color-black: #000;
$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 4rem;
